@mixin goflex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// @mixin mycontainer($maxwidth: 1170px, $width: 100%) {
//   max-width: $maxwidth;
//   width: $width;
//   margin: 0 auto;
// }
