.s-1 {
  background-color: aquamarine;
  height: 500px;
  .container {
    @extend %mycontainer;
    background-color: cornflowerblue;
    height: 500px;
    @include goflex(row, space-around, center);

    // ushualod containeris shvili boxi
    & > .box {
      width: 300px;
      height: 300px;
      &:first-child {
        background-color: $mycolor1;
      }
      &:nth-child(2) {
        background-color: $mycolor2;
      }
      &:last-child {
        background-color: $mycolor3;
      }
      @media (max-width: $tabletsize) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: $phonesize) {
        width: 150px;
        height: 150px;
      }
      @media (max-width: $foldsize) {
        width: 100px;
        height: 100px;
      }
    }
    @media (max-width: $tabletsize) {
      width: 90%;
    }
    @media (max-width: $phonesize) {
      width: 80%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    @media (max-width: $foldsize) {
      background-color: rgb(171, 105, 206);
    }
  }
}

.s-2 {
  background-color: lightpink;
  height: 500px;
  .container {
    @extend %mycontainer;
    background-color: lightsalmon;
    height: 300px;
    .wrapper {
    }
  }
}
